In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn import metrics
from sklearn.metrics import confusion_matrix

from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import precision_recall_curve

from sklearn.cluster import KMeans

In [2]:
df = pd.read_excel("C:\\Users\\dev\\Desktop\\financial distress\\financial_distress_python.xlsx")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23834 entries, 0 to 23833
Data columns (total 79 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       23834 non-null  int64
 1   QUARTER  23834 non-null  datetime64[ns]
 2   A13      23834 non-null  int64
 3   A14      23834 non-null  int64
 4   A15      23834 non-null  int64
 5   A16      23834 non-null  int64
 6   A17      23834 non-null  int64
 7   A18      23834 non-null  int64
 8   A19      23834 non-null  float64
 9   A20      23834 non-null  int64
 10  A22      23834 non-null  float64
 11  A23      23834 non-null  float64
 12  A24      23834 non-null  float64
 13  A25      23834 non-null  float64
 14  A26      23834 non-null  float64
 15  A27      23834 non-null  float64
 16  A28      23834 non-null  float64
 17  A29      23834 non-null  float64
 18  A30      23834 non-null  float64
 19  A31      23834 non-null  float64
 20  A1       23834 non-null  int64
 21  A2       23834 non-null  float64
 22  A6       23834 non-null  float64
 23  A3       23834 non-null  float64
 24  A4       23834 non-null  int64
 25  A7       23834 non-null  int64
 26  A12      23834 non-null  int64
 27  A32      23834 non-null  float64
 28  A33      23834 non-null  float64
 29  A34      23834 non-null  int64
 30  A35      23834 non-null  int64
 31  A8       23834 non-null  int64
 32  A36      23834 non-null  float64
 33  A37      23834 non-null  float64
 34  A38      23834 non-null  float64
 35  A39      23834 non-null  float64
 36  A40      23834 non-null  float64
 37  A41      23834 non-null  float64
 38  A42      23834 non-null  float64
 39  A43      23834 non-null  float64
 40  A44      23834 non-null  float64
 41  A45      23834 non-null  float64
 42  A46      23834 non-null  float64
 43  A47      23834 non-null  float64
 44  A48      23834 non-null  float64
 45  A49      23834 non-null  float64
 46  A50      23834 non-null  float64
 47  A53      23834 non-null  float64
 48  A54      23834 non-null  float64
 49  A56      23834 non-null  float64
 50  A57      23834 non-null  float64
 51  A58      23834 non-null  float64
 52  A59      23834 non-null  float64
 53  A61      23834 non-null  float64
 54  A62      23834 non-null  float64
 55  A63      23834 non-null  float64
 56  A64      23834 non-null  float64
 57  A65      23834 non-null  float64
 58  A66      23834 non-null  float64
 59  A67      23834 non-null  float64
 60  A68      23834 non-null  float64
 61  A69      23834 non-null  float64
 62  A70      23834 non-null  float64
 63  A71      23834 non-null  float64
 64  A72      23834 non-null  float64
 65  A73      23834 non-null  float64
 66  A74      23834 non-null  float64
 67  A75      23834 non-null  float64
 68  A76      23834 non-null  float64
 69  A77      23834 non-null  float64
 70  A78      23834 non-null  float64
 71  A79      23834 non-null  float64
 72  A80      23834 non-null  float64
 73  A81      23834 non-null  float64
 74  A82      23834 non-null  float64
 75  A83      23834 non-null  float64
 76  A84      23834 non-null  float64
 77  LABEL    23834 non-null  int64
 78  count    23834 non-null  int64
dtypes: datetime64[ns](1), float64(61), int64(17)
memory usage: 14.4 MB

In [7]:
# Select columns from A36 to A84
selected_columns = df.loc[:, 'A36':'LABEL']

# Or if your column names are not sequential and 'A36' to 'A84' represents a range:
# selected_columns = df.loc[:, 'A36':'A84']

# Drop columns not in the selected range
df_selected = df.drop(columns=df.columns.difference(selected_columns.columns))

In [8]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23834 entries, 0 to 23833
Data columns (total 46 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A36     23834 non-null  float64
 1   A37     23834 non-null  float64
 2   A38     23834 non-null  float64
 3   A39     23834 non-null  float64
 4   A40     23834 non-null  float64
 5   A41     23834 non-null  float64
 6   A42     23834 non-null  float64
 7   A43     23834 non-null  float64
 8   A44     23834 non-null  float64
 9   A45     23834 non-null  float64
 10  A46     23834 non-null  float64
 11  A47     23834 non-null  float64
 12  A48     23834 non-null  float64
 13  A49     23834 non-null  float64
 14  A50     23834 non-null  float64
 15  A53     23834 non-null  float64
 16  A54     23834 non-null  float64
 17  A56     23834 non-null  float64
 18  A57     23834 non-null  float64
 19  A58     23834 non-null  float64
 20  A59     23834 non-null  float64
 21  A61     23834 non-null  float64
 22  A62     23834 non-null  float64
 23  A63     23834 non-null  float64
 24  A64     23834 non-null  float64
 25  A65     23834 non-null  float64
 26  A66     23834 non-null  float64
 27  A67     23834 non-null  float64
 28  A68     23834 non-null  float64
 29  A69     23834 non-null  float64
 30  A70     23834 non-null  float64
 31  A71     23834 non-null  float64
 32  A72     23834 non-null  float64
 33  A73     23834 non-null  float64
 34  A74     23834 non-null  float64
 35  A75     23834 non-null  float64
 36  A76     23834 non-null  float64
 37  A77     23834 non-null  float64
 38  A78     23834 non-null  float64
 39  A79     23834 non-null  float64
 40  A80     23834 non-null  float64
 41  A81     23834 non-null  float64
 42  A82     23834 non-null  float64
 43  A83     23834 non-null  float64
 44  A84     23834 non-null  float64
 45  LABEL   23834 non-null  int64
dtypes: float64(45), int64(1)
memory usage: 8.4 MB

In [14]:
# Count the number of zeros in each row
zeros_count = (df_selected == 0).sum(axis=1)

# Filter out rows with more than 3 zeros
filtered_df3 = df_selected[zeros_count <= 3]
filtered_df4 = df_selected[zeros_count <= 4]
filtered_df5 = df_selected[zeros_count <= 5]
filtered_df8 = df_selected[zeros_count <= 8]

In [15]:
print(filtered_df3.info())
print(filtered_df4.info())
print(filtered_df5.info())
print(filtered_df8.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10369 entries, 80 to 23833
Data columns (total 46 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A36     10369 non-null  float64
 1   A37     10369 non-null  float64
 2   A38     10369 non-null  float64
 3   A39     10369 non-null  float64
 4   A40     10369 non-null  float64
 5   A41     10369 non-null  float64
 6   A42     10369 non-null  float64
 7   A43     10369 non-null  float64
 8   A44     10369 non-null  float64
 9   A45     10369 non-null  float64
 10  A46     10369 non-null  float64
 11  A47     10369 non-null  float64
 12  A48     10369 non-null  float64
 13  A49     10369 non-null  float64
 14  A50     10369 non-null  float64
 15  A53     10369 non-null  float64
 16  A54     10369 non-null  float64
 17  A56     10369 non-null  float64
 18  A57     10369 non-null  float64
 19  A58     10369 non-null  float64
 20  A59     10369 non-null  float64
 21  A61     10369 non-null  float64
 22  A62     10369 non-null  float64
 23  A63     10369 non-null  float64
 24  A64     10369 non-null  float64
 25  A65     10369 non-null  float64
 26  A66     10369 non-null  float64
 27  A67     10369 non-null  float64
 28  A68     10369 non-null  float64
 29  A69     10369 non-null  float64
 30  A70     10369 non-null  float64
 31  A71     10369 non-null  float64
 32  A72     10369 non-null  float64
 33  A73     10369 non-null  float64
 34  A74     10369 non-null  float64
 35  A75     10369 non-null  float64
 36  A76     10369 non-null  float64
 37  A77     10369 non-null  float64
 38  A78     10369 non-null  float64
 39  A79     10369 non-null  float64
 40  A80     10369 non-null  float64
 41  A81     10369 non-null  float64
 42  A82     10369 non-null  float64
 43  A83     10369 non-null  float64
 44  A84     10369 non-null  float64
 45  LABEL   10369 non-null  int64
dtypes: float64(45), int64(1)
memory usage: 3.7 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14029 entries, 80 to 23833
Data columns (total 46 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A36     14029 non-null  float64
 1   A37     14029 non-null  float64
 2   A38     14029 non-null  float64
 3   A39     14029 non-null  float64
 4   A40     14029 non-null  float64
 5   A41     14029 non-null  float64
 6   A42     14029 non-null  float64
 7   A43     14029 non-null  float64
 8   A44     14029 non-null  float64
 9   A45     14029 non-null  float64
 10  A46     14029 non-null  float64
 11  A47     14029 non-null  float64
 12  A48     14029 non-null  float64
 13  A49     14029 non-null  float64
 14  A50     14029 non-null  float64
 15  A53     14029 non-null  float64
 16  A54     14029 non-null  float64
 17  A56     14029 non-null  float64
 18  A57     14029 non-null  float64
 19  A58     14029 non-null  float64
 20  A59     14029 non-null  float64
 21  A61     14029 non-null  float64
 22  A62     14029 non-null  float64
 23  A63     14029 non-null  float64
 24  A64     14029 non-null  float64
 25  A65     14029 non-null  float64
 26  A66     14029 non-null  float64
 27  A67     14029 non-null  float64
 28  A68     14029 non-null  float64
 29  A69     14029 non-null  float64
 30  A70     14029 non-null  float64
 31  A71     14029 non-null  float64
 32  A72     14029 non-null  float64
 33  A73     14029 non-null  float64
 34  A74     14029 non-null  float64
 35  A75     14029 non-null  float64
 36  A76     14029 non-null  float64
 37  A77     14029 non-null  float64
 38  A78     14029 non-null  float64
 39  A79     14029 non-null  float64
 40  A80     14029 non-null  float64
 41  A81     14029 non-null  float64
 42  A82     14029 non-null  float64
 43  A83     14029 non-null  float64
 44  A84     14029 non-null  float64
 45  LABEL   14029 non-null  int64
dtypes: float64(45), int64(1)
memory usage: 5.0 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14149 entries, 80 to 23833
Data columns (total 46 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A36     14149 non-null  float64
 1   A37     14149 non-null  float64
 2   A38     14149 non-null  float64
 3   A39     14149 non-null  float64
 4   A40     14149 non-null  float64
 5   A41     14149 non-null  float64
 6   A42     14149 non-null  float64
 7   A43     14149 non-null  float64
 8   A44     14149 non-null  float64
 9   A45     14149 non-null  float64
 10  A46     14149 non-null  float64
 11  A47     14149 non-null  float64
 12  A48     14149 non-null  float64
 13  A49     14149 non-null  float64
 14  A50     14149 non-null  float64
 15  A53     14149 non-null  float64
 16  A54     14149 non-null  float64
 17  A56     14149 non-null  float64
 18  A57     14149 non-null  float64
 19  A58     14149 non-null  float64
 20  A59     14149 non-null  float64
 21  A61     14149 non-null  float64
 22  A62     14149 non-null  float64
 23  A63     14149 non-null  float64
 24  A64     14149 non-null  float64
 25  A65     14149 non-null  float64
 26  A66     14149 non-null  float64
 27  A67     14149 non-null  float64
 28  A68     14149 non-null  float64
 29  A69     14149 non-null  float64
 30  A70     14149 non-null  float64
 31  A71     14149 non-null  float64
 32  A72     14149 non-null  float64
 33  A73     14149 non-null  float64
 34  A74     14149 non-null  float64
 35  A75     14149 non-null  float64
 36  A76     14149 non-null  float64
 37  A77     14149 non-null  float64
 38  A78     14149 non-null  float64
 39  A79     14149 non-null  float64
 40  A80     14149 non-null  float64
 41  A81     14149 non-null  float64
 42  A82     14149 non-null  float64
 43  A83     14149 non-null  float64
 44  A84     14149 non-null  float64
 45  LABEL   14149 non-null  int64
dtypes: float64(45), int64(1)
memory usage: 5.1 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16431 entries, 0 to 23833
Data columns (total 46 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A36     16431 non-null  float64
 1   A37     16431 non-null  float64
 2   A38     16431 non-null  float64
 3   A39     16431 non-null  float64
 4   A40     16431 non-null  float64
 5   A41     16431 non-null  float64
 6   A42     16431 non-null  float64
 7   A43     16431 non-null  float64
 8   A44     16431 non-null  float64
 9   A45     16431 non-null  float64
 10  A46     16431 non-null  float64
 11  A47     16431 non-null  float64
 12  A48     16431 non-null  float64
 13  A49     16431 non-null  float64
 14  A50     16431 non-null  float64
 15  A53     16431 non-null  float64
 16  A54     16431 non-null  float64
 17  A56     16431 non-null  float64
 18  A57     16431 non-null  float64
 19  A58     16431 non-null  float64
 20  A59     16431 non-null  float64
 21  A61     16431 non-null  float64
 22  A62     16431 non-null  float64
 23  A63     16431 non-null  float64
 24  A64     16431 non-null  float64
 25  A65     16431 non-null  float64
 26  A66     16431 non-null  float64
 27  A67     16431 non-null  float64
 28  A68     16431 non-null  float64
 29  A69     16431 non-null  float64
 30  A70     16431 non-null  float64
 31  A71     16431 non-null  float64
 32  A72     16431 non-null  float64
 33  A73     16431 non-null  float64
 34  A74     16431 non-null  float64
 35  A75     16431 non-null  float64
 36  A76     16431 non-null  float64
 37  A77     16431 non-null  float64
 38  A78     16431 non-null  float64
 39  A79     16431 non-null  float64
 40  A80     16431 non-null  float64
 41  A81     16431 non-null  float64
 42  A82     16431 non-null  float64
 43  A83     16431 non-null  float64
 44  A84     16431 non-null  float64
 45  LABEL   16431 non-null  int64
dtypes: float64(45), int64(1)
memory usage: 5.9 MB
None

In [12]:
# Count the number of zeros in each column
zeros_count_per_column = (filtered_df5 == 0).sum(axis=0)

# Calculate the total number of rows
total_rows = len(filtered_df5)


for column, i in zeros_count_per_column.items():
    print(f"{column} : {i}")

# Calculate the percentage of zeros and null values in each column relative to the total number of rows
percentage_zeros_count_per_column = (zeros_count_per_column / total_rows) * 100

percentage_zeros_count_per_column = percentage_zeros_count_per_column.sort_index()

A36 : 0
A37 : 0
A38 : 178
A39 : 348
A40 : 0
A41 : 0
A42 : 0
A43 : 0
A44 : 0
A45 : 166
A46 : 5
A47 : 0
A48 : 0
A49 : 4
A50 : 166
A53 : 832
A54 : 4
A56 : 166
A57 : 0
A58 : 0
A59 : 0
A61 : 0
A62 : 0
A63 : 832
A64 : 0
A65 : 70
A66 : 348
A67 : 16
A68 : 18
A69 : 18
A70 : 18
A71 : 1
A72 : 128
A73 : 133
A74 : 1
A75 : 0
A76 : 0
A77 : 11
A78 : 12
A79 : 4
A80 : 103
A81 : 1
A82 : 3420
A83 : 3420
A84 : 3436
LABEL : 13821

In [16]:
# Count the number of zeros in each column
zeros_count_per_column = (filtered_df4 == 0).sum(axis=0)

# Calculate the total number of rows
total_rows = len(filtered_df4)


for column, i in zeros_count_per_column.items():
    print(f"{column} : {i}")

# Calculate the percentage of zeros and null values in each column relative to the total number of rows
percentage_zeros_count_per_column = (zeros_count_per_column / total_rows) * 100

percentage_zeros_count_per_column = percentage_zeros_count_per_column.sort_index()

A36 : 0
A37 : 0
A38 : 137
A39 : 308
A40 : 0
A41 : 0
A42 : 0
A43 : 0
A44 : 0
A45 : 160
A46 : 3
A47 : 0
A48 : 0
A49 : 4
A50 : 160
A53 : 789
A54 : 4
A56 : 160
A57 : 0
A58 : 0
A59 : 0
A61 : 0
A62 : 0
A63 : 789
A64 : 0
A65 : 43
A66 : 308
A67 : 15
A68 : 8
A69 : 8
A70 : 8
A71 : 1
A72 : 120
A73 : 122
A74 : 1
A75 : 0
A76 : 0
A77 : 5
A78 : 6
A79 : 3
A80 : 97
A81 : 0
A82 : 3366
A83 : 3366
A84 : 3381
LABEL : 13708

In [13]:
# Count the number of zeros in each column
zeros_count_per_column = (filtered_df3 == 0).sum(axis=0)

# Calculate the total number of rows
total_rows = len(filtered_df3)


for column, i in zeros_count_per_column.items():
    print(f"{column} : {i}")

# Calculate the percentage of zeros and null values in each column relative to the total number of rows
percentage_zeros_count_per_column = (zeros_count_per_column / total_rows) * 100

percentage_zeros_count_per_column = percentage_zeros_count_per_column.sort_index()

A36 : 0
A37 : 0
A38 : 63
A39 : 297
A40 : 0
A41 : 0
A42 : 0
A43 : 0
A44 : 0
A45 : 3
A46 : 3
A47 : 0
A48 : 0
A49 : 4
A50 : 3
A53 : 739
A54 : 4
A56 : 3
A57 : 0
A58 : 0
A59 : 0
A61 : 0
A62 : 0
A63 : 739
A64 : 0
A65 : 38
A66 : 297
A67 : 15
A68 : 1
A69 : 1
A70 : 1
A71 : 1
A72 : 23
A73 : 21
A74 : 0
A75 : 0
A76 : 0
A77 : 0
A78 : 1
A79 : 2
A80 : 5
A81 : 0
A82 : 33
A83 : 33
A84 : 48
LABEL : 10062

### Ideal threshold to hold for zeros per row = 3

### Steps after this

- After seperating this data, impute the null values using MICE and autoencoder
- treat class imbalance issues